<header>
    <img src="/images/logo.svg" alt="logo image" width="800" height="800">
    <span>Volcano Chasers</span>
    <button id="ham-btn" class="hamburger" title="hamburger menu button"></button>
</header>
<nav id="nav-bar" class="navigation">
  <ul>
    <li class="current" id="currentE"><a href="/index.html">Current Eruptions</a></li>
    <li id="historicE"><a href="/historic-eruptions.html">Historic Eruptions</a></li>
    <li id="newsE"><a href="/erupting-news.html">Erupting News</a></li>
  </ul>
</nav>